font-family 'ms yahei',qq,weibo;
src url('../qzone', weibo, 12/9, 30px);
name = 10px/20px 'ms yahei',sans bold;

@media screen and (min-width:200px) and(max-width:300dpi),
all,
print{
  font-size 30px;

  div{
    color red;
  }
}

@import "../name/qq"
@import "../qzone.qe/";

@font-face{
  font-family 'ms yahei',qq,weibo;
  src url('../qzone', weibo);
}

@example{
  src font-szie 20px;
}

@keyframes fade-in{
  from{
    font-size 20px;
  }

  50%{
    font-size 30px;
  }

  to{
    font-size 100px;
  }
}



vender(prop, args...){
  div{
    color red{args};
  }
  -webkit-{prop} args;
  -moz-{prop} args;
  {prop} args;
}

border-radius(args...){
  vender arguments;
}

name = 10px/20px 'ms yahei',sans bold;
back = url('../image/src/back.png') center no-repeat;

background url('../image/src/back.png') center no-repeat
font 10px/20px 'ms yahei',sans bold;

div,
.class,
div:after,
div#hash,
div[name="qq"]:after::content:nth-child(2n+1),
#hash{
  //consdfs
  color red;
  color #ffffff;
}

/**
 * test case
 * @author: SimonHao
 * @date:   2015-12-02 10:42:29
 */
 // test case

div,
color,
html{
  color red;
}

html{
  body{
    color red color;
    color,
    div{
      color red;
    }
  }

  color red red;
  div,
  div{
    color red;
  }
}