@media screen and (12px/11px>font>12px/11px) and (device-aspect-ratio=16/9){
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

  :root{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

    html,
    .class,
    #hash,
    :first-child,
    ::after,
    [name],
    [name="11"],
    &:first-child{
      font 12px/11px 'ms yahei','sun',ming bold;
      background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
    }
  }
}

@import "name/id";

@font-face{
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
}

@keyframes fadein {
  from{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }

  50%{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }

  to{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }
}

border-radius(qq, args...){
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
}

font = 12px/11px 'ms yahei','sun',ming bold;
background = url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

font 12px/11px 'ms yahei','sun',ming bold;
background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

:root{
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

  html,
  .class,
  #hash,
  :first-child,
  ::after,
  [name],
  [name="11"],
  &:first-child{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }
}

html,
.class,
#hash,
:first-child,
::after,
[name],
[name="11"],
&:first-child{
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
}