/**
 * test case
 * @author: SimonHao
 * @date:   2015-12-02 10:42:29
 */
// test case

html,
body[ qq = "234" ],wew.hwe,
:root(),
:root(  ),
:root(html, qq),
:first-child,
::after,
:nth-child(2n+1),
:nth-child(3),
&:first-child

@media screen and (min-width : 500px){
  :first-child,
  ::after,
  [name="qq"],
  :root,
  :root(.header),
  .header{
    font-family: 'one','two';

    &.current{
      color: black;
    }

    #header{
      font-size: 20px;
    }
  }
}
@keyframes fase-in{
  from{
    color: red;
    height: 100px;
  }

  50%{
    color: red;
  }

  to{
    color: black;
    height: 200px;
  }
}
@font-face{
  font-family: "custom";
}
@import "header.styl"


:first-child,
::after,
[name="qq"],
:root,
:root(.header),
.header{
  font-family: 'one','two';

  &.current{
    color: black;
  }

  #header{
    font-size: 20px;
  }
}


