@import "header";
/**
 * test case
 */
// test case
background-color #ccc;
@import 'base';
@require 'base';

border-radius(qq, args...){
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
}

html.class+hash>body[name],
.class,
#hash,
:first-child,
::after,
[name],
[name="11"],
&:first-child{
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
}

background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
font 12px/11px 'ms yahei','sun',ming bold;

:root{
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

  html,
  .class,
  #hash,
  :first-child,
  ::after,
  [name],
  [name="11"],
  &:first-child{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }
}

font = 12px/11px 'ms yahei','sun',ming bold;
background = url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

@keyframes fadein {
  from{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }

  50%{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }

  to{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }
}

@font-face{
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
}

@import "name/id";

@media (device-aspect-ratio=16/9) and screen and (12px/11px>font>12px/11px){
  font 12px/11px 'ms yahei','sun',ming bold;
  background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

  :root{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;

    html,
    .class,
    #hash,
    :first-child,
    ::after,
    [name],
    [name="11"],
    &:first-child{
      font 12px/11px 'ms yahei','sun',ming bold;
      background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
    }
  }
}

:not(2n+3),
:not(2n-3),
:not(){}

@keyframes fadein {
  from{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }

  50%{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }

  to{
    font 12px/11px 'ms yahei','sun',ming bold;
    background url('back.png' 12px/13px 'ms yahei',bold) center no-repeat;
  }
}